@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .title {
    @apply text-[40px] font-thin leading-[1.4] -tracking-[0.04em] uppercase md:text-[67px] md:leading-[1.21] xl:text-[98px];
  }
  .main-text {
    @apply text-sm md:text-base/5 xl:text-lg/6 font-thin;
  }
}

:root {
  --text-color: 255, 255, 255;
  --menu-color: rgba(1, 10, 5, 0.75);
  --left-btn-image: url("../public/assets/images/joinBtn/mobile_left.svg");
  --right-btn-image: url("../public/assets/images/joinBtn/mobile_right.svg");
  --hero-image: url("../public/assets/images/home/home.webp");
  --services-image-01: url("../public/assets/images/services/01/bg_servise_mobile_01.webp");
  --services-image-02: url("../public/assets/images/services/02/bg_servise_mobile_02.webp");
  --services-image-03: url("../public/assets/images/services/03/bg_servise_mobile_03.webp");
  --services-image-04: url("../public/assets/images/services/04/bg_servise_mobile_04.webp");
  --services-image-05: url("../public/assets/images/services/05/bg_servise_mobile_05.webp");
  --contacts-image: url("../public/assets/images/contacts/contacts_mobile.webp");
  --about-image: url("../public/assets/images/about/about_sm.webp");
  --light-gradient: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5));
  --dark-gradient: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75));
  --input-color: rgba(255, 255, 255, 0.05);
  --btn-grad: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  --btn-focus-grad: linear-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
  );
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  :root {
    --hero-image: url("../public/assets/images/home/home@2x.webp");
    --services-image-01: url("../public/assets/images/services/01/bg_servise_mobile_01@2x.webp");
    --services-image-02: url("../public/assets/images/services/02/bg_servise_mobile_02@2x.webp");
    --services-image-03: url("../public/assets/images/services/03/bg_servise_mobile_03@2x.webp");
    --services-image-04: url("../public/assets/images/services/04/bg_servise_mobile_04@2x.webp");
    --services-image-05: url("../public/assets/images/services/05/bg_servise_mobile_05@2x.webp");
    --contacts-image: url("../public/assets/images/contacts/contacts_mobile@2x.webp");
    --about-image: url("../public/assets/images/about/about_sm@2x.webp");
  }
}
@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  :root {
    --hero-image: url("../public/assets/images/home/home@3x.webp");
    --services-image-01: url("../public/assets/images/services/01/bg_servise_mobile_01@3x.webp");
    --services-image-02: url("../public/assets/images/services/02/bg_servise_mobile_02@3x.webp");
    --services-image-03: url("../public/assets/images/services/03/bg_servise_mobile_03@3x.webp");
    --services-image-04: url("../public/assets/images/services/04/bg_servise_mobile_04@3x.webp");
    --services-image-05: url("../public/assets/images/services/05/bg_servise_mobile_05@3x.webp");
    --contacts-image: url("../public/assets/images/contacts/contacts_mobile@3x.webp");
    --about-image: url("../public/assets/images/about/about_sm@3x.webp");
  }
}

@media screen and (min-width: 768px) {
  :root {
    --left-btn-image: url("../public/assets/images/joinBtn/tablet_left.svg");
    --right-btn-image: url("../public/assets/images/joinBtn/tablet_right.svg");
    --hero-image: url("../public/assets/images/home/home_tablet.webp");
    --services-image-01: url("../public/assets/images/services/01/bg_servise_tablet_01.webp");
    --services-image-02: url("../public/assets/images/services/02/bg_servise_tablet_02.webp");
    --services-image-03: url("../public/assets/images/services/03/bg_servise_tablet_03.webp");
    --services-image-04: url("../public/assets/images/services/04/bg_servise_tablet_04.webp");
    --services-image-05: url("../public/assets/images/services/05/bg_servise_tablet_05.webp");
    --contacts-image: url("../public/assets/images/contacts/contacts_tablet.webp");
    --about-image: url("../public/assets/images/about/about_md.webp");
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    :root {
      --hero-image: url("../public/assets/images/home/home_tablet@2x.webp");
      --services-image-01: url("../public/assets/images/services/01/bg_servise_tablet_01@2x.webp");
      --services-image-02: url("../public/assets/images/services/02/bg_servise_tablet_02@2x.webp");
      --services-image-03: url("../public/assets/images/services/03/bg_servise_tablet_03@2x.webp");
      --services-image-04: url("../public/assets/images/services/04/bg_servise_tablet_04@2x.webp");
      --services-image-05: url("../public/assets/images/services/05/bg_servise_tablet_05@2x.webp");
      --contacts-image: url("../public/assets/images/contacts/contacts_tablet@2x.webp");
      --about-image: url("../public/assets/images/about/about_md@2x.webp");
    }
  }
  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    :root {
      --hero-image: url("../public/assets/images/home/home_tablet@3x.webp");
      --services-image-01: url("../public/assets/images/services/01/bg_servise_tablet_01@3x.webp");
      --services-image-02: url("../public/assets/images/services/02/bg_servise_tablet_02@3x.webp");
      --services-image-03: url("../public/assets/images/services/03/bg_servise_tablet_03@3x.webp");
      --services-image-04: url("../public/assets/images/services/04/bg_servise_tablet_04@3x.webp");
      --services-image-05: url("../public/assets/images/services/05/bg_servise_tablet_05@3x.webp");
      --contacts-image: url("../public/assets/images/contacts/contacts_tablet@3x.webp");
      --about-image: url("../public/assets/images/about/about_md@3x.webp");
    }
  }
}
@media screen and (min-width: 1280px) {
  :root {
    --left-btn-image: url("../public/assets/images/joinBtn/desctop_left.svg");
    --right-btn-image: url("../public/assets/images/joinBtn/desctop_right.svg");
    --hero-image: url("../public/assets/images/home/home_desctop.webp");
    --services-image-01: url("../public/assets/images/services/01/bg_servise_desctop_01.webp");
    --services-image-02: url("../public/assets/images/services/02/bg_servise_desctop_02.webp");
    --services-image-03: url("../public/assets/images/services/03/bg_servise_desctop_03.webp");
    --services-image-04: url("../public/assets/images/services/04/bg_servise_desctop_04.webp");
    --services-image-05: url("../public/assets/images/services/05/bg_servise_desctop_05.webp");
    --contacts-image: url("../public/assets/images/contacts/contacts_desctop.webp");
    --about-image: url("../public/assets/images/about/about_xl.webp");
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    :root {
      --hero-image: url("../public/assets/images/home/home_desctop@2x.webp");
      --services-image-01: url("../public/assets/images/services/01/bg_servise_desctop_01@2x.webp");
      --services-image-02: url("../public/assets/images/services/02/bg_servise_desctop_02@2x.webp");
      --services-image-03: url("../public/assets/images/services/03/bg_servise_desctop_03@2x.webp");
      --services-image-04: url("../public/assets/images/services/04/bg_servise_desctop_04@2x.webp");
      --services-image-05: url("../public/assets/images/services/05/bg_servise_desctop_05@2x.webp");
      --contacts-image: url("../public/assets/images/contacts/contacts_desctop@2x.webp");
      --about-image: url("../public/assets/images/about/about_xl@2x.webp");
    }
  }
  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    :root {
      --hero-image: url("../public/assets/images/home/home_desctop@3x.webp");
      --services-image-01: url("../public/assets/images/services/01/bg_servise_desctop_01@3x.webp");
      --services-image-02: url("../public/assets/images/services/02/bg_servise_desctop_02@3x.webp");
      --services-image-03: url("../public/assets/images/services/03/bg_servise_desctop_03@3x.webp");
      --services-image-04: url("../public/assets/images/services/04/bg_servise_desctop_04@3x.webp");
      --services-image-05: url("../public/assets/images/services/05/bg_servise_desctop_05@3x.webp");
      --contacts-image: url("../public/assets/images/contacts/contacts_desctop@3x.webp");
      --about-image: url("../public/assets/images/about/about_xl@3x.webp");
    }
  }
}

.my-swiper {
  @apply absolute z-[1] w-56 xl:w-72 top-[475px] md:top-[182px] xl:top-[244px] left-[calc(50%-140px)] md:left-[calc(50%+131px)] xl:left-[calc(50%+11px)];
}

body {
  color: rgb(var(--text-color));
}
